<div class="media">
    <div class="media-left">
        <img class="media-object" src="{{ book | image | default('/img/no-cover.jpg')}}" alt="{{ book.name }}">
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-md-8">
                <h2 class="media-heading">{{ book.name }}</h2>
            </div>
            <div class="col-md-4 text-right">
                {% if downloadable is defined %}
                    <a class="btn btn-sm btn-info" href="{{ book.downloadUrl }}">Download</a>
                {% endif %}
                {% if deleteable is defined %}
                    <a class="btn btn-sm btn-danger" href="{{ path('admin_delete', {uniqid: book.uniqid}) }}">Delete</a>
                {% endif %}
            </div>
        </div>
        <p>{{ book | description }}</p>
    </div>
</div>
